.contact-container {
    background-color: #1D1D1D;
}

.contact-container .contact-content {
    display: flex;
    padding: 0 9%;
}

.contact-container .contact-content .left-contact {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.contact-container .contact-content .left-contact .text-social-container {

}
.contact-container .contact-content .left-contact .text-social-container .social-mark-c {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 20px;
    margin-top: 5%;
}
.contact-container .contact-content .left-contact .text-social-container .social-mark-c a {
    height: 100%;
}
.contact-container .contact-content .left-contact .text-social-container .social-mark-c img {
    height: 100%;

}
.contact-container .contact-content .left-contact .text-social-container p {
    width: 55%;
    margin-top: 2%;
}

.contact-container .contact-content .right-contact {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 5%;
}
.contact-container .contact-content .right-contact .cbutton-container {
    margin-top: 50px;
}

@media screen and (max-width: 1024px) {
    .contact-container .contact-content {
        flex-direction: column;
        padding: 0 5%;  
    }
    .contact-container .contact-content .left-contact {
        width: 100%;
        flex-direction: row;
    }
    .contact-container .contact-content .left-contact .title-container {
        width: 50%;
    }
    .contact-container .contact-content .left-contact .text-social-container {
        width: 50%;
    }
    .contact-container .contact-content .left-contact .text-social-container p {
        width: 90%;
    }
    .contact-container .contact-content .right-contact {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 414px) {
    .contact-container .contact-content .left-contact {
        flex-direction: column;
    }
    .contact-container .contact-content .left-contact .title-container {
        width: 100%;
    }
    .contact-container .contact-content .left-contact .text-social-container {
        width: 100%;
    }
    .contact-container .contact-content .right-contact {
       margin-top: 10%;
       align-items: center;
    }
}