.title-container {
    display: flex;
    flex-direction: column
}

.title-container p {
    font-size: 20px;
    color: #FFC400;
}

.title-container h1 {
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
}

@media screen and (max-width: 414px) {
    .title-container p {

    }
    .title-container h1 {
        font-size: 32px;
    }
}